/* You can add global styles to this file, and also import other style files */
body {
  background-color: #838ea3 !important;
  background: url(/assets/bg-2.jpg) center center no-repeat fixed;
  background-size: cover;
}
